
footer {
    @import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700';
    font-size: 14px;
    .footer-1 {
        .social-media {
            padding-left: 15px;
            span {
                display: inline;
                margin: 0 5px 0 0;
                color: #fff;
                font-size: 24px;
                &.fb-icon {
                    padding: 2px 5px;
                    background: #3c5b9b;
                }
                &.twitter-icon {
                    padding: 2px 5px;
                    background: #40c1df;
                }
                &.youtube-icon {
                    padding: 2px 5px;
                    background: #db2d29;
                }
                &.gplus-icon {
                    padding: 2px 5px;
                    background: #ed3c32;
                }
                &.insta-icon {
                    padding: 2px 5px;
                    background: #c619b8;
                }
            }
        }
        .footer-2 {
            padding-bottom: 40px;
           margin-left: 0px; 
            .smart-pic {
                width: 200px;
                padding-right: 30px;
                margin-top: 6px;
            }
            .full-address {
                margin: 16px 0px 0px -36px;
            }
            .address-detail li,
            a {
                padding: 0;
                margin: 0;
                list-style-type: none;
                line-height: 3;
                color: #777;
            }
            & .list-color {
                color: #333;
                font-family: 'Open Sans', sans-serif;
                font-weight: 500;
                font-size: 15PX;
            }
        }
        .product-list {
            padding: 0px;
            margin: 0px;
            list-style-type: none;
        }
        h2 {
            font-size: 20px;
            color: #282828;
            font-family: 'Open Sans', sans-serif;
            text-transform: capitalize;
            line-height: 1;
        }
        .list {
            .product-list li a {
                color: #777;
                text-decoration: none;
                font-size: 14px;
                font-family: 'Open Sans', sans-serif;
                text-transform: capitalize;
                font-weight: 300;
                line-height: 3;
            }
        }
        .newsletter-box {
            display: block;
            min-width: 93%;
            padding: 17px 0px 11px 0;
        }
        .subscribe-btn {
            color: #fff;
            background-color: #62ab00;
            border-color: #28a745;
            width: 100px;
            min-width: 100%;
            margin: 15px 0px 3px 0;
            height: 50px;
        }
        ul.social-network {
            list-style: none;
            display: inline;
            margin-left: 0 !important;
            padding: 0;
        }
        ul.social-network li {
            display: inline;
            margin: 0 5px;
        }
    }
}

.sub-footer {
    background: #333;
    height: 250px;
    text-align: center;
    padding: 5px;

    .footer-description {
        color: #999 !important;
        font-size: 14px;
        padding: 24px 0 0 0;
        font-family: 'Open Sans', sans-serif;
    }
    img{
        padding: 15px 0 0 0;
    }
    .copy {
        font-size: 15px;
        text-align: center;
        padding: 10px 0 0 0;
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
    }
}
.input-group .form-control:first-child{
    border-radius: 2px !important;
}