nav {

	margin-bottom: 50px;

	.top-strip-cont {
		padding: 0;
		background: black;
		position: relative;
		z-index: 10;
	}

	.lang-dropdown-li,
	.dollar-dropdown-li {
		position: relative;

		ul {
			position: absolute;
		}
	}

	.top-strip-row {
		background: black;
		color: white;
		opacity: 0.9;

		.top-strip-ul {
			display: inline;

			li {
				display: inline;
				line-height: 0;
			}
		}

		.top-strip-col-1 {
			display: flex;
			justify-content: space-between;

			span {
				padding: 11px;
			}

			ul {
				margin: 11px 0;

				li {
					padding-left: 8px;
					color: white;
					padding-right: 10px;
					opacity: 0.8;
					font-size: 14px;

					@media(max-width: 600px) {
						opacity: 0.9;
						padding-left: 10px;
					}

					&:hover {
						opacity: 1;
					}
				}

				.fa {
					font-size: 14px;
					opacity: 1;
				}
			}

			.top-strip-setting {
				display: none;
			}

			.top-strip-dropdown-menu {
				z-index: 9;
			}

			@media (max-width: 991px) {
				.top-strip-setting {
					display: inline;
					float: none;
					padding: 0 15px;
				}
			}

			@media(max-width:768px) {
				.top-strip-setting {
					display: inline;
				}

				.top-strip-ul-2 {
					display: none;
				}

				.top-strip-ul-1 {
					margin: 10px auto;
				}
			}
		}
	}
}