nav {



	.top-strip-cont{
		padding:0;
		position: relative;
		z-index: 10;
		background: rgb(40,40,40);
	}
	.top-strip-row{
		background: rgb(40,40,40);;
		color:white;
		opacity: 0.9;
		.top-strip-ul{
			display: inline;
			padding:0;
			li{
	
				display: inline;
			}
		}
		.top-strip-col-1{
			display: flex;
			justify-content: space-between;
			span{
				padding-left:4px;
			}
			ul{
				margin:11px 0;
				
				li{
					transition: 0.4s;
					padding-left: 8px;
					color:white;
					padding-right: 10px;
				   opacity: 0.8;
				   transition: opacity 0.3s;
					font-size: 14px;
				   &:hover{
					   opacity: 1;
				   }
				}
				.fa{
					font-size: 14px;
			   
				}
				@media(max-width:600px){
					padding-left:5px;
				}
			}
		   
			.top-strip-setting{
				display: none;
			}
			.top-strip-dropdown-menu{
				z-index:999;
				background: rgba(255,255,255,1)
			}
			@media(max-width:768px){
			   
				.top-strip-setting{
					display: inline;
				}
				.top-strip-ul-2{
					display: none;
				}
				.top-strip-ul-1{
					padding:0;
					margin:10px auto;
				}
			  
			}
	
			
		}
		// font-size: 14px;
		// font-weight: 100;
	
	}
}